<article class="product col-sm-6 @@utilityClass">
	<a href="">

		<div class="product-img">
			<img src="" data-src="@@productImgSrc.png" srcset="" data-srcset="@@productImgSrc.png, @@productImgSrc@2x.png 2x" alt="">
		</div>

		<@@headingLevel class="product-title article-heading">
			@@titleText
		</@@headingLevel>

		<p>Krbová vložka s výsuvnými dvířky a dvojitým sklem.</p>

		<table class="product-specs">
			<tr>
				<td><img src="" data-src="images/ico/dashboard-primary.svg" alt=""> Regulovaný výkon:</td>
				<td>4.8 - 16.5 kW</td>
			</tr>
			<tr>
				<td><img src="" data-src="images/ico/flame-primary.svg" alt=""> Spotřeba dřeva:</td>
				<td>2.8 Kg / hod.</td>
			</tr>
			<tr>
				<td><img src="" data-src="images/ico/bar-chart-primary.svg" alt="">Účinnost spalování:</td>
				<td>80%</td>
			</tr>
		</table>

		<div class="product-price">
			<span>67 800 Kč</span>
			<small>vč. DPH</small>
		</div>

		<div class="product-button">
			<span class="btn btn-arrow"><span>Prohlédnout detail</span></span>
		</div>

	</a>
</article>