<!-- One subpage -->
<div class="breadcrumbs-container container">
	<div class="breadcrumbs">
		<span>
			<span typeof="v:Breadcrumb">
				<a href="" rel="v:url" property="v:title">Home</a>
				<span typeof="v:Breadcrumb">
					<a href="" rel="v:url" property="v:title">@@subpageText</a>
					<span class="breadcrumb-last">@@currentPageText</span>
				</span>
			</span>
		</span>
	</div>
</div>

<!-- Last only -->
<!-- 
<div class="breadcrumbs-container container">
	<div class="breadcrumbs">
		<span>
			<span typeof="v:Breadcrumb">
				<a href="" rel="v:url" property="v:title">Home</a>
				<span class="breadcrumb-last">@@currentPage</span>
			</span>
		</span>
	</div>
</div>
 -->

<!-- Two subpages -->
<!-- 
<div class="breadcrumbs-container container container-narrow">
	<div class="breadcrumbs">
		<span>
			<span typeof="v:Breadcrumb">
				<a href="" rel="v:url" property="v:title">Home</a>
				<span typeof="v:Breadcrumb">
					<a href="" rel="v:url" property="v:title">@@subpageFirstText</a>
					<span typeof="v:Breadcrumb">
						<a href="" rel="v:url" property="v:title">@@subpageText</a>
						<span class="breadcrumb-last">@@currentPageText</span>
					</span>
				</span>
			</span>
		</span>
	</div>
</div>
 -->