<form class="contact-form" data-validate="jquery">
	<div class="contact-form-top">
		<div>
			<input type="text" required="required" data-validators="[{&quot;condition&quot;:&quot;required&quot;,&quot;msg&quot;:&quot;E-mail je povinn\u00e1 polo\u017eka&quot;,&quot;params&quot;:null},{&quot;condition&quot;:&quot;email&quot;,&quot;msg&quot;:&quot;Chybn\u00fd tvar e-mailov\u00e9 adresy&quot;,&quot;params&quot;:null},{&quot;condition&quot;:&quot;maxLength&quot;,&quot;msg&quot;:&quot;E-mail m\u016f\u017ee m\u00edt maxim\u00e1ln\u011b 100 znak\u016f&quot;,&quot;params&quot;:100}]">

			<span class="fake-placeholder">Jméno a příjmení</span>
			<span class="required-notice">Povinné</span>
		</div>

		<div>
			<input type="tel" required="required" data-validators="[{&quot;condition&quot;:&quot;required&quot;,&quot;msg&quot;:&quot;E-mail je povinn\u00e1 polo\u017eka&quot;,&quot;params&quot;:null},{&quot;condition&quot;:&quot;email&quot;,&quot;msg&quot;:&quot;Chybn\u00fd tvar e-mailov\u00e9 adresy&quot;,&quot;params&quot;:null},{&quot;condition&quot;:&quot;maxLength&quot;,&quot;msg&quot;:&quot;E-mail m\u016f\u017ee m\u00edt maxim\u00e1ln\u011b 100 znak\u016f&quot;,&quot;params&quot;:100}]">

			<span class="fake-placeholder">Telefon</span>
			<span class="required-notice">Povinné</span>
		</div>

		<div>
			<input type="email" required="required" data-validators="[{&quot;condition&quot;:&quot;required&quot;,&quot;msg&quot;:&quot;E-mail je povinn\u00e1 polo\u017eka&quot;,&quot;params&quot;:null},{&quot;condition&quot;:&quot;email&quot;,&quot;msg&quot;:&quot;Chybn\u00fd tvar e-mailov\u00e9 adresy&quot;,&quot;params&quot;:null},{&quot;condition&quot;:&quot;maxLength&quot;,&quot;msg&quot;:&quot;E-mail m\u016f\u017ee m\u00edt maxim\u00e1ln\u011b 100 znak\u016f&quot;,&quot;params&quot;:100}]">

			<span class="fake-placeholder">Email</span>
			<span class="required-notice">Povinné</span>
		</div>
	</div>

	<textarea placeholder="Vaše zpráva" required="required" data-validators="[{&quot;condition&quot;:&quot;required&quot;,&quot;msg&quot;:&quot;E-mail je povinn\u00e1 polo\u017eka&quot;,&quot;params&quot;:null},{&quot;condition&quot;:&quot;email&quot;,&quot;msg&quot;:&quot;Chybn\u00fd tvar e-mailov\u00e9 adresy&quot;,&quot;params&quot;:null},{&quot;condition&quot;:&quot;maxLength&quot;,&quot;msg&quot;:&quot;E-mail m\u016f\u017ee m\u00edt maxim\u00e1ln\u011b 100 znak\u016f&quot;,&quot;params&quot;:100}]"></textarea>

	<div class="contact-form-bottom">
		<span class="consent-notice">Souhlasím se zpracováním <a href="#">osobních údajů</a></span>

		<span class="btn btn-paperplane submitButton"><span>Odeslat dotaz</span></span>
	</div>
</form>