<div class="employee col-sm-6 col-md-4 col-lg-3">
	<div class="employee-img">
		<img src="" data-src="@@imgSrc" alt="">
		<img src="" data-src="@@imgSrc.jpg" srcset="" data-srcset="@@imgSrc.jpg, @@imgSrc@2x.jpg 2x" alt="">
	</div>

	<h3 class="employee-name article-heading">
		@@employeeName
	</h3>

	<div class="employee-title">
		@@employeeTitle
	</div>

	<div>
		<div class="employee-contact employee-tel d-none d-sm-block">
			<img src="" data-src="images/ico/phone-primary.svg" alt="">
			<span>
				@@employeeTel
			</span>
		</div>

		<a class="employee-contact employee-tel d-sm-none" href="tel:@@person-tel">
			<img src="" data-src="images/ico/phone-primary.svg" alt="">
			<span>
				@@employeeTel
			</span>
		</a>

		<a class="employee-contact employee-email" href="mailto:@@person-email">
			<img src="" data-src="images/ico/mail-primary.svg" alt="">
			<span>
				@@employeeEmail
			</span>
		</a>
	</div>


	<p class="employee-text">
		@@employeeText
	</p>

</div>