<header class="header-main">
	<div class="container header-top-bar">

		<span>Potřebujete poradit?</span>

		<span class="header-contact header-contact-phone">
			<img src="images/ico/phone-primary.svg" alt="">
			<span>+420 778 456 987</span>
		</span>

		<a class="header-contact header-contact-mail" href="mailto:info@rolig.cz">
			<img src="images/ico/mail-primary.svg" alt="">
			<span>info<span>@</span>rolig.cz</span>
		</a>

	</div>
	<div class="container">
		<a class="header-brand" href="#">
			<img src="images/ico/rolig-logo.svg" alt="" draggable="false" />
		</a>

		<nav class="nav-main">
			<ul>
				<li class="nav-home">
					<a href="#">
						@@include('../../assets/build/images/ico/home.svg')
						<span>
							Úvod
						</span>
					</a>
				</li>

				<li class="menu-item-has-children current-menu-ancestor"><a href="#">Služby</a>
					<ul class="sub-menu">
						<li><a href="#">Kamna a krbové vložky</a></li>
						<li><a href="#">Krbové obestavby</a></li>
						<li class="menu-item-has-children current-menu-item-parent current-menu-ancestor"><a href="#">Kompletní topení</a>
							<ul class="sub-menu">
								<li><a href="#">Položka třetí úrovně</a></li>
								<li class="current-menu-item"><a href="#">Curernt menu item</a></li>
								<li><a href="#">Položka třetí úrovně</a></li>
							</ul>
						</li>
						<li><a href="#">Dokončovací práce</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children"><a href="#">Produkty</a>
					<ul class="sub-menu">
						<li><a href="#">Krbová kamna</a></li>
						<li><a href="#">Krbové vložky</a></li>
						<li><a href="#">Peletová kamna</a></li>
						<li><a href="#">Plynové vložky</a></li>
						<li><a href="#">Kanadská kamna</a></li>
						<li><a href="#">Kotel na Biomasu</a></li>
					</ul>
				</li>
				<li><a href="#">Novinky</a></li>
				<li><a href="#">Kariéra</a></li>
				<li><a href="#">O nás</a></li>
				<li><a href="#">Kontakty</a></li>
			</ul>
		</nav>

		@@include('HeaderSearchForm.html')

		<div class="header-nav-button">
			menu
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="header-mask"></div>
</header>