//Header main
.header-main {
	background: $header-bg-color;
	transition-property: box-shadow background-color;
	font-family: $font-family-primary;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	transition-duration: 0.2s;
	align-items: center;
	z-index: 99;
	flex-direction: column;

	&::before {
		background: $gradient-01;

		content: "";
		display: block;
		top: 0;
		left: 0;
		height: 5px;
		width: 100%;
		position: absolute;
	}

	&.headroom--not-top {
		box-shadow: $shadow-01;

		.container {
			height: $baseline * 3.5;

			&:not(.header-top-bar) {
				&::before {
					opacity: 0;
				}
			}
		}

		//Header top bar
		.header-top-bar {
			height: 0;
			opacity: 0;
		}
	}

	.container {
		height: $baseline * 3.5;
		display: flex;
		align-items: center;
		transition: height 0.2s;
		position: relative;

		&::before {
			content: "";
			display: block;
			width: calc(100% - 60px);
			height: 1px;
			position: absolute;
			left: 30px;
			bottom: 0;
			background: $color-secondary-lightest;
			transition: opacity 0.2s;
		}
	}

	//Header top bar
	.header-top-bar {
		height: $baseline * 2;
		justify-content: flex-end;
		padding-top: 5px;

		transition: height 0.2s, opacity 0.1s;

		span {
			color: $color-secondary-light;
			font-weight: 400;
		}
	}
}

.home .header-main {
	.container:not(.header-top-bar) {
		&::before {
			display: none;
		}
	}
}

//Header contact
.header-contact {
	display: flex;
	align-items: center;
	margin-left: 30px;

	text-decoration: none !important;

	img {
		margin-right: 6px;
	}

	span > span {
		font-family: $font-family-secondary;
	}
}

a.header-contact {
	&:hover {
		text-decoration: none;
		span {
			color: $color-primary;
			text-decoration: underline;
		}
	}
}

//Header brand
.header-brand {
	height: $header-brand-img-height;

	display: block;
	margin-right: auto;
	flex-shrink: 0;

	h1 {
		width: 100%;
		height: 100%;
	}

	img {
		height: 100%;
	}
}

//Nav home
.nav-home {
	a {
		&:hover {
			svg {
				fill: $color-secondary;
			}
		}
	}

	svg {
		fill: $color-primary;
		margin-top: 4px;

		width: 22px;
		height: 20px;
		transition: 0.2s ease;
	}

	span {
		display: none;
	}
}

//Header search
.header-search {
	margin-left: 20px;
	height: 100%;
	display: flex;
	align-items: center;
}

.header-search-inner {
	align-items: center;
	position: absolute;
	top: 0;
	left: 30px;
	height: calc(100% - 1px);
	width: calc(100% - 60px);
	visibility: hidden;
	overflow: hidden;
	z-index: 55;
	background-color: transparent;
	display: flex;
	transition: visibility 0.2s ease 0.2s, background-color 0.3s;

	&::before {
		content: "";
		display: block;
		width: 145px;
		height: 100%;
		background: transparent;
		transition: background-color 0s 0s;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}
}

.js-search-open {
	visibility: visible;
	transition: visibility 0s, background-color 0.3s;
}

.js-animate {
	background-color: $header-bg-color;

	&::before {
		background: $header-bg-color;
		transition: background-color 0s 0s;
	}

	.header-search-input {
		transform: none;
		opacity: 1;
		transition: transform 0.3s ease 0.2s, opacity 0.01s ease 0.2s;
	}

	.header-search-submit {
		opacity: 1;
		transition: opacity 0.3s;
	}
}

.header-search-input {
	height: $baseline * 1.75;
	border: none;
	border-radius: $header-search-border-radius;
	padding-left: 20px;
	width: calc(100% - 140px);
	padding-right: 10px;
	transform: translateX(100%);
	opacity: 0;
	background: $header-search-input-bg-color;
	transition: transform 0.3s ease 0.2s, opacity 0.2s ease;
	outline: none;
	color: $color-text;
}

.header-search-submit {
	line-height: $baseline * 1.75;
	margin-left: $button-border-radius * -2;
	padding: 0 18px;
	min-width: 0;
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 2;
	position: relative;
	overflow: hidden;
}

.header-search-button {
	width: $baseline * 1.2;
	height: $baseline * 1.2;
	margin-top: 4px;
	cursor: pointer;
	position: relative;
	z-index: 56;

	&:hover {
		svg {
			fill: $header-search-button-color-hover;
		}
	}

	svg {
		width: 22px;
		height: 22px;
		fill: $header-search-button-color;
		position: absolute;
		top: 2px;
		left: 2px;
		transition: fill 0.2s;
	}
}

//Header mask
.header-mask {
	visibility: hidden;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: $color-black;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 85;
	transition: opacity 0.2s;

	&.js-active {
		visibility: visible;
		opacity: 0.5;
	}
}

//Header nav button
.header-nav-button {
	display: none;
}

//No scroll
.js-no-scroll {
	//height: 100vh;
	//overflow: hidden;
}

//----- Desktop nav ---//

//Tablet landscape and up - 992px and up
@media (min-width: map-get($grid-breakpoints, lg)) {
	//Header main
	.header-main {
		&.headroom--not-top {
			.nav-main > ul > li > a {
				padding: $baseline * 1 20px;
			}
		}

		//Current menu item
		.current-menu-item,
		.current-menu-ancestor {
			& > a {
				color: $header-text-color-hover;
				background: $header-bg-color-hover;
			}
		}

		//Menu item has children
		.menu-item-has-children {
			&:hover {
				& > .sub-menu {
					display: block;
				}
			}

			& > a {
				position: relative;
				padding-right: 40px !important;

				&::after {
					content: "";
					display: block;
					width: 13px;
					height: 13px;
					position: absolute;
					top: calc(50% - 1px);
					right: 18px;
					transform: translateY(-50%) rotate(90deg);
					background-image: url(images/ico/arrow-right.svg);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
				}
			}
		}

		//Sub menu
		.sub-menu {
			background: $sub-menu-bg-color;
			box-shadow: $shadow-01;
			//box-shadow: 0 0 0 1px $header-border-color;
			position: absolute;
			display: none;
			top: 100%;

			li {
				position: relative;
				&:last-child {
					a {
						&::before {
							display: none;
						}
					}
				}
			}

			//Current menu item
			.current-menu-item,
			.current-menu-ancestor {
				& > a {
					background: $sub-menu-bg-color-hover;
					color: $sub-menu-text-color-hover;

					&::before {
						//display: none;
					}
				}
			}

			//Menu item has children
			.menu-item-has-children {
				& > a {
					&::after {
						transform: translateY(-50%);
					}
				}
			}

			a {
				color: $sub-menu-text-color;

				min-height: $baseline * 2;
				line-height: $baseline;
				padding-top: $baseline * 0.5;
				padding-bottom: $baseline * 0.5;
				padding-left: 15px;
				padding-right: 15px;
				text-transform: none;
				min-width: 150px;
				z-index: 2;

				&:hover {
					background: $sub-menu-bg-color-hover;
					color: $sub-menu-text-color-hover;

					text-decoration: none;
				}

				&::before {
					background: $sub-menu-line-color;

					content: "";
					display: block;
					position: absolute;
					width: calc(100% - 30px);
					height: 1px;
					left: 15px;
					bottom: -1px;
					transform: none;
				}
			}
		}

		//IE hack
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			.menu-item-has-children {
				position: relative;
			}

			.sub-menu {
				width: 250px;
				left: 0;
			}

			.sub-menu .sub-menu {
				transform: none;
				white-space: normal;
			}
		}

		//Sub sub menu
		.sub-menu .sub-menu {
			top: 0;
			left: 100%;
			white-space: nowrap;
			background: $sub-sub-menu-bg-color;

			box-shadow: $shadow-01;
			//box-shadow: 0 0 0 1px $header-border-color;

			.current-menu-item {
				a {
					background: $sub-sub-menu-bg-color-hover;
					color: $sub-sub-menu-text-color-hover;
				}
			}

			a {
				color: $sub-sub-menu-text-color;

				&:hover {
					background: $sub-sub-menu-bg-color-hover;
					color: $sub-sub-menu-text-color-hover;
				}

				&::before {
					background: $sub-sub-menu-line-color;
				}
			}
		}

		//Sub sub menu moved to the left (due to not enought space on the right side)
		.sub-menu .js-sub-menu-left {
			left: auto;
			right: 100%;
		}
	}

	//Nav main
	.nav-main {
		margin-left: auto;
		height: 100%;

		& > ul {
			display: flex;
			height: 100%;
			align-items: center;

			& > li {
				height: 100%;
				display: flex;
				align-items: center;

				& > a {
					&:hover {
						color: $header-text-color-hover;
					}
				}
			}
		}

		a {
			color: $header-text-color;
			font-weight: $header-font-weight;
			font-size: $header-font-size;

			padding: $baseline * 1.5 20px;
			line-height: $baseline;
			display: block;
			text-decoration: none;
			position: relative;

			transition: padding 0.2s, color 0.2s;
			position: relative;

			&:hover {
				//color: $header-text-color-hover;
				background: $header-bg-color-hover;
			}
		}
	}
}

//----- Mobile nav ---//

//up to tablet portrait (including) - up to 991px
@media (max-width: map-get($grid-breakpoints, lg) - 1px) {
	//Header main
	.header-main {
		.container {
			height: $baseline * 3;
			padding-top: 10px;
		}

		&.headroom--not-top {
			.container {
				height: $baseline * 3;
			}
		}

		//Header top bar
		.header-top-bar {
			display: none;
		}

		//Current menu item
		.current-menu-item,
		.current-menu-ancestor {
			& > a {
				color: $header-text-color-hover-MD;
				background: $header-bg-color-hover-MD;

				&::before {
					//display: none;
				}
			}
		}

		//Menu item has children
		.menu-item-has-children {
			&.js-open {
				& > a {
					&::before {
						opacity: 0;
					}
				}
			}
		}

		//Sub menu button
		.sub-menu-button {
			display: block;
			width: $baseline * 2;
			height: $baseline * 2;
			position: absolute;
			top: 0;
			right: 20px;
			transform: rotate(-270deg);
			background-image: url(images/ico/arrow-right.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 10px;
			transition: transform 0.3s;

			&.js-open {
				transform: rotate(-90deg);
			}
		}

		//Sub menu
		.sub-menu {
			background: $sub-menu-bg-color-MD;
			display: none;

			//Current menu item
			.current-menu-item,
			.current-menu-ancestor {
				& > a {
					background: $sub-menu-bg-color-hover-MD;
					color: $sub-menu-text-color-hover-MD;

					&::before {
						//display: none;
					}
				}
			}

			a {
				color: $sub-menu-text-color-MD;

				&::before {
					background: $sub-menu-line-color-MD;

					content: "";
					display: block;
					position: absolute;
					width: calc(100% - 30px);
					height: 1px;
					left: 15px;
					bottom: -1px;
					transform: none;
				}
			}
		}

		//Sub sub menu
		.sub-menu .sub-menu {
			background: $sub-sub-menu-bg-color-MD;

			.current-menu-item {
				a {
					background: $sub-sub-menu-bg-color-hover-MD;
					color: $sub-sub-menu-text-color-hover-MD;
				}
			}

			a {
				color: $sub-sub-menu-text-color-MD;

				&::before {
					background: $sub-sub-menu-line-color-MD;
				}
			}
		}
	}

	//Header brand
	.header-brand {
		transform: translateY(-5px);
		height: 45px;
	}

	//Nav main
	.nav-main {
		background: $header-nav-main-bg-color-MD;

		position: fixed;
		top: 0;
		right: 0;
		z-index: 90;
		height: 100vh;
		transform: translateX(100%);
		width: 300px;
		padding-top: $baseline * 3;

		& > ul {
			overflow-y: scroll;
			height: 100%;
			display: block;
			padding-bottom: $baseline * 4;
		}

		li {
			position: relative;
			&:last-child {
				a {
					&::before {
						display: none;
					}
				}
			}
		}

		a {
			font-size: $header-font-size-MD;
			font-weight: $header-font-weight-MD;
			color: $header-text-color-MD;

			padding: $baseline * 0.5 25px;
			padding-right: 70px;
			display: block;
			text-decoration: none;
			position: relative;

			margin: 0;
			line-height: $baseline;

			&::before {
				background: $header-line-color-MD;
				transition: opacity 0.3s;
				content: "";
				display: block;
				position: absolute;
				width: calc(100% - 30px);
				height: 1px;
				left: 15px;
				bottom: -1px;
				transform: none;
			}
		}

		//JS open
		&.js-open {
			transform: translateX(0);
		}

		//JS transtions
		&.js-transition {
			transition: transform 0.2s;
		}
	}

	//Nav home
	.nav-home {
		svg {
			margin-right: 5px;
		}

		span {
			display: inline;
		}
	}

	//Header search
	.header-search-inner {
		top: 5px;
		height: calc(100% - 5px);

		&::before {
			width: 150px;
		}
	}

	.header-search-input {
		width: calc(100% - 220px);
	}

	//Header nav button
	.header-nav-button {
		color: $header-nav-button-color;

		display: block;
		width: $baseline * 1.4;
		height: $baseline * 1.75;
		//transform: translateY(-2px);
		margin-top: -4px;
		position: relative;
		font-size: 11.2px;
		font-weight: 600;
		text-transform: uppercase;

		margin-left: 20px;
		line-height: 0.8;
		text-align: center;
		z-index: 95;

		&.js-open {
			span {
				&:first-child,
				&:last-child {
					opacity: 0;
					transform: scale(0);
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
					opacity: 1;
				}
			}
		}

		span {
			background: $header-nav-button-color;

			width: 100%;
			height: 4px;
			display: block;
			position: absolute;
			left: 0;

			transition-property: transform opacity;
			transition-duration: 0.2s;

			&:first-child {
				bottom: 23px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				bottom: 14px;
			}

			&:last-child {
				bottom: 4px;
			}
		}
	}
}

// phone portrait - up to 575px
@media (max-width: map-get($grid-breakpoints, sm) - 1px) {
	//Header main
	.header-main {
		transition: all 0.2s;
	}

	.header-mask,
	.nav-main.js-open,
	.header-nav-button.js-open {
		transition: transform 0.2s;
	}

	.headroom--unpinned {
		transform: translateY(-$baseline * 3);
		box-shadow: none !important;

		.header-mask,
		.nav-main.js-open,
		.header-nav-button.js-open {
			transform: translateY($baseline * 3);
		}
	}

	//Header search
	.header-search-inner {
		z-index: 89;
		top: calc(100% + 20px);
		height: auto;
		background: transparent;
		display: block;
		&::before {
			display: none;
		}
	}

	.js-animate {
		.header-search-input {
			transform: 0;
			max-width: 100%;
			transition: transform 0.2s ease, opacity 0.2s ease;
		}

		.header-search-submit {
			transition: opacity 0.2s;
		}
	}

	.header-search-input {
		width: 400px;
		max-width: 100%;
		transform: none;
		transition: transform 0.2s ease, opacity 0.2s ease;
		background: $color-white;
		display: block;
		margin-left: auto;
		margin-right: auto;
		transform: scaleX(0.75);
	}

	.header-search-submit {
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		display: block;
		width: 150px;
		transition: opacity 0.2s;
	}

	.header-search-button {
		z-index: 86;
	}
}

//Up 400px
@media (max-width: 400px) {
	//Nav main
	.nav-main {
		width: 100%;

		a {
			padding: $baseline * 0.5 30px;
			padding-right: 70px;

			&::before {
				background: $sub-menu-line-color-MD;

				content: "";
				display: block;
				position: absolute;
				width: calc(100% - 30px);
				height: 1px;
				left: 15px;
				bottom: -1px;
				transform: none;
			}
		}
	}
}
