<article class="posts-item">
	<a class="posts-item-img" href="#">

		<picture>
			<source media="(max-width: 35.938em)" srcset="" data-srcset="@@imgSrc4by3">
			<source media="(max-width: 47.938em)" srcset="" data-srcset="@@imgSrc3by4">
			<img src="" data-src="@@imgSrc1by1" alt="">
		</picture>


	</a>

	<div class="posts-item-content">
		<h2 class="posts-item-heading article-heading"><a href="#">@@titleText</a></h2>

		@@if (tagsBar === true) {
		<div class="posts-item-tags-bar">
			<span class="posts-item-tag">Pivo</span>
			<a class="posts-item-tag" href="#">Alkohol</a>
			<a class="posts-item-tag" href="#">Rady</a>
		</div>
		}

		<p>@@pText</p>

		<div class="posts-item-bottom-bar">

			<!-- 
			<span class="posts-item-author">
				@@authorText
			</span>
			-->

			<a class="posts-item-author" href="#">
				@@authorText
			</a>

			<div class="posts-item-date">
				@@dateText
			</div>

			<a class="posts-item-read" href="#">
				<span>
					Přečíst
				</span>

				<svg viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.41">
					<path d="M1.121 0L0 1.121l3.68 3.68L0 8.48l1.121 1.122 4.801-4.801L1.121 0z" /></svg>


			</a>
		</div>


	</div>
</article>