<div class="footer-top">
	<div class="container">
		<div class="row">
			<div class="footer-block col-sm-6 col-md-4">
				<h2 class="article-heading">Kontaktní údaje</h2>


				<span class="footer-contact footer-contact-phone d-none d-sm-flex">
					<img src="" data-src="images/ico/phone-primary.svg" alt="">
					<span>+420 778 456 087</span>
				</span>

				<a class="footer-contact footer-contact-phone d-sm-none" href="tel:+420778456087">
					<img src="" data-src="images/ico/phone-primary.svg" alt="">
					<span>+420 778 456 087</span>
				</a>


				<a class="footer-contact footer-contact-mail" href="mailto:info@rolig.cz">
					<img src="" data-src="images/ico/mail-primary.svg" alt="">
					<span>info@rolig.cz</span>
				</a>

				<span class="footer-contacts-link">
					<a href="">

						<span>
							Všechny kontakty
						</span>

						<img src="" data-src="images/ico/arrow-right-primary.svg" alt="">
					</a>
				</span>

				@@include('FooterSocial.html')
			</div>

			<div class="footer-block col-sm-6 col-md-4">
				<h2 class="article-heading">Fakturační údaje</h2>

				<div class="entry-content">
					<p>
						<strong>Rolig s.r.o</strong> <br>
						That street 21, Praha 1 <br>
					</p>

					<p>
						<strong>IČO:</strong> 55890955 <br>
						<strong>DIČ</strong> CZ55890955 <br>
					</p>

					<p>
						Jsme plátci DPH.
					</p>
				</div>
			</div>

			<div class="footer-block col-sm-6 col-md-4">
				<h2 class="article-heading">Důležité informace</h2>
				<nav class="footer-top-nav">
					<ul>
						<li><a href="#">Ochrana osobních údajů</a></li>
						<li><a href="#">Kariéra</a></li>
						<li><a href="#">Historie</a></li>
						<li><a href="#">Smluvní podmínky</a></li>
					</ul>
				</nav>

			</div>
		</div>

		<div class="footer-brand">
			<a class="footer-brand-img-wrap" href="#">
				<img src="" data-src="images/ico/rolig-logo.svg" alt="">
			</a>

			<span>Neprodáváme kamna. Měníme zimu v teplo domova.</span>
		</div>



	</div>
</div>