//Footer bottom
.footer-bottom {
	background: $footer-bottom-bg-color;
	color: #5b6071;

	border-top: 1px solid #3d435c;

	.container {
		min-height: $baseline * 2;
		display: flex;
		align-items: center;
		padding-top: $baseline * 1.5;
		padding-bottom: $baseline * 1.5;
		flex-wrap: wrap;
	}
}

//Footer copy
.footer-copy {
	display: block;
	flex-grow: 1;
	padding-right: $baseline;
	font-size: $footer-bottom-font-size;
}

//Footer scroll top
.footer-scroll-top {
	display: flex;
	align-items: center;

	&:hover {
		cursor: pointer;
		span {
			text-decoration: none;
		}
	}

	span {
		margin-right: 10px;
		text-decoration: underline;
	}

	img {
		width: $baseline;
		height: $baseline;
		transform: rotate(180deg);
	}
}

//Phone portrait - up to 575px
@media (max-width: map-get($grid-breakpoints, sm) - 1px) {
	//Footer bottom
	.footer-bottom {
		.container {
			text-align: center;
			justify-content: center;
			padding-bottom: $baseline;
		}
	}

	.footer-copy {
		width: 100%;
		margin-bottom: $baseline;
	}
}
